<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
	<body>
		{{> header}}

		{{#if error}}
			{{#each error}}
				<p class="alert alert-warning">{{this.msg}}</p>
			{{/each}}
		{{/if}}

		{{#if success}}
			<p class="alert alert-success">{{success}}</p>
		{{/if}}

		{{#if notice}}
			<p class="alert alert-info">{{notice}}</p>
		{{/if}}

		<!--where our other templates will insert-->
		{{{body}}}

	</body>
</html>
